.vaultCard {
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  width: 96%;
  padding-right: 16px;
  justify-content: center;
  position: relative;
  padding-bottom: 16px;
}

.vaultCardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  line-height: normal;
  margin-left: 16px;
}
.badge {
  position: relative;
}
.badgeFinished::before {
  content: " ";
  background-color: #cdcdcd;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  top: 8px;
  left: -10px;
}
.badgeUnlocked::before {
  content: " ";
  background-color: #69dc33;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  top: 8px;
  left: -10px;
}
.badgeLocked::before {
  content: " ";
  background-color: #f14550;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  top: 8px;
  left: -10px;
}
.opened .iconArrow {
  transform: rotate(180deg);
}

.section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 10px;
}
.section button {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.section button span {
  font-size: 14px;
}
.hr {
  width: 100%;
  height: 1px;
  background: #eee;
  margin-left: 16px;
  margin-top: 10px;
}
.actionContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.actionContainer > * {
  margin: 10px 10px;
  width: 100%;
}
.infoTitle {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 0;
}
.infoTitleMB {
  margin-bottom: 5px;
}

.iconArrow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2px;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  max-height: 0;
  height: 100%;
  overflow: hidden;
}

.opened .sectionContainer {
  max-height: 100%;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.addressContainer > div {
  flex-direction: column;
}
.addressContainer button {
  font-weight: 800;
  width: 100px;
}
.addressContainer canvas {
  width: 40px !important;
  height: 40px !important;
}
.infoNoMargin{
  margin-top: 6px;
}

.beneficiaries {
  display: flex;
  margin-top: 4px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.beneficiaries > * {
  margin-bottom: 10px;
  margin-right: 20px;
  width: auto;
}

.infoLabel {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}


@media (min-width: 768px) {
  .vaultCard {
    width: 50%;
  }
}

@media (min-width: 400px) {

  .actionContainer {
    flex-direction: row;
  }
  
  .actionContainer > * {
    margin: 0 10px;
    width: 100px;
  }
}
