.titleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  animation: aparecer 0.5s ease-in-out;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
.modalCard {
  overflow-x: hidden;
  border-radius: 12px;

  padding: 32px;
  width: 100%;
  max-width: 596px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: modalShown 0.5s ease-in;

  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 4px;
}
.modalCard button {
  width: 100px;
}

.separator {
  height: 40px;
}

.perDistributionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.perDistributionTitle.disabled {
  color: #cacaca;
}
.perDistributionTitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  margin-bottom: 0;
  margin-top: 24px;
}
.perDistributionContainer > * {
  width: 100%;
}
@keyframes aparecer {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.2); /* Cambia el 0.7 al valor de opacidad deseado */
  }
}

@keyframes modalShown {
  0% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(1.1); /* Cambia el 0.7 al valor de opacidad deseado */
  }
  100% {
    transform: scale(1); /* Cambia el 0.7 al valor de opacidad deseado */
  }
}

@media (min-width: 768px) {
  .modalContainer {
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2.5px);
  }

  .modalCard {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    margin-top: 0;
  }

  .perDistributionContainer {
    display: flex;
    flex-direction: row;
  }
  .perDistributionContainer > * {
    width: 48% !important;
  }
}
