.mainPage{
background-color: #fff;
width: 100%;
height: calc(100vh - 64px);
}
.title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
  }