.separator {
  font-size: 30px;
  font-weight: 800;
  line-height: 160px;
}
.subtitle {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

.imageSelectionContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.imageSelectionContainer::after,
.imageSelectionContainer::before {
  content: " ";
  position: absolute;
  width: 10px;
  height: 55px;
  background-color: #c5cacf;
  top: 0;
}
.imageSelectionContainer::after {
  bottom: 0;
  top: unset;
}
.inActive {
  opacity: 0.4;
}
.done{
color: #000;
}
.done.imageSelectionContainer::after,
.done.imageSelectionContainer::before {
    background-color: #000;
}
.inActive .imageSelection:hover {
  transform: none;
  transition: none;
  cursor: not-allowed;
}
.imageSelection {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: fit-content;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 4px 10px;
  border: 4px #c5cacf;
  cursor: pointer;
  transition: all 0.3s;
}
.selected {
  transform: scale(1.1) !important;
  background-color: #262626 !important;
  color: #ffffff;
}
.selected .image {
  filter: invert(100%);
}
.imageSelection:hover {
  transform: scale(1.02);
}
.image {
  position: relative;
  width: 70px;
  height: 70px;
}
.value {
  font-size: 16px;
  font-weight: 600;
}

.withValue {
  transform: scale(0.9);
}
