.mainPage {

  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.mainPage svg{
    color:#262626;
}

.title {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.createButton{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 60px;
}
.createButton button{
    width: 200px
}
.list{
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 300px);
    position: relative;
}


