.contractData {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mL {
  height: 10px;
}
.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.addressContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addresses{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}